html {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.cardGroup {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-self: center;
}

.cardGroup_card {
  flex: 1 1 0%;
  border: none;
  border-radius: 0;
}

.cardGroup_card + .cardGroup_card {
  border-left: hidden;
  border-right: hidden;
}

.cardGroup_card:last-child {
  border-right: 1px solid #cad0d2;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #cad0d2;
  border-radius: 4px;
  overflow: hidden;
}

.card_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.card_descriptionText {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  max-width: calc(100% - 30px);
}

.card_descriptionIcon {
  font-size: 32px;
  margin-bottom: 10px;
}

.card_temperatures {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 5px 15px;
  justify-content: space-around;
}

.card-fixedWidth {
  max-width: 120px;
}

.grayText {
  color: #57727c;
}
